#input {
   display: none;
   margin: -1000px 5px; 
   background-color: #000000;
   border: 2px solid #000000;
   border-radius: 0;
   color: #ffffff;
}

#input:focus {
   background-color: #000000;
   border: 2px solid #000000;
   border-radius: 0;
   color: #ffffff;
   box-shadow: none;
   padding: 10px;
}

#scroll {
    background-color: transparent;
    border: none;
}

#entry:selected {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 4px;
    outline: none;
    font-size: 12px;
    font-weight: bold;   
    
}
window {
    background-color: transparent;
}

#entry {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
}
