[Unit]
Description=Tweak-FLX1s Alarm Volume Fix
After=graphical-session.target

[Service]
ExecStart=/usr/bin/tweak-flx1s --monitor alarm
Restart=always

[Install]
WantedBy=default.target
