[Unit]
Description=FastFLX1 Andromeda Guard
After=graphical-session.target

[Service]
ExecStart=/usr/bin/fastflx1 --monitor guard
Restart=always

[Install]
WantedBy=default.target
