[Unit]
Description=Tweak-FLX1s Gesture Shortcuts
After=graphical-session.target

[Service]
ExecStart=/usr/bin/tweak-flx1s --monitor gestures
Restart=always

[Install]
WantedBy=default.target
