[Unit]
Description=Tweak-FLX1s Andromeda Guard
After=graphical-session.target

[Service]
ExecStart=/usr/bin/tweak-flx1s --monitor guard
Restart=always

[Install]
WantedBy=default.target
