#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	dh_auto_build
	for po in po/*.po; do \
		lang=$$(basename $$po .po); \
		mkdir -p locales/$$lang/LC_MESSAGES; \
		msgfmt $$po -o locales/$$lang/LC_MESSAGES/tweak-flx1s.mo; \
	done

override_dh_clean:
	dh_clean
	rm -rf locales
