[Desktop Entry]
Hidden=true
Version=0.1
Name=DialVibra
Comment=Vibra when calling
Exec=bash -c 'dialtone'
Icon=org.gnome.Terminal
Terminal=false
Type=Application
