[Desktop Entry]
Version=0.1
Name=Evremap
Comment=Remap volumebuttons for up-down arrows
Exec=bash -c 'sleep 30 && assistant-button-tweak'
Icon=org.gnome.Terminal
Terminal=false
Type=Application
