[Desktop Entry]
Version=0.1
Name=VolButtons
Comment=Generate cool shortcuts using volume buttons
Exec=bash -c 'vol-buttons'
Icon=org.gnome.Terminal
Terminal=false
Type=Application